html {
    background-color: rgb(243, 134, 134);

}
body {
    width: 1200px;
    margin: 0 auto;
    background-color: #efcccc;
    padding: 0 20px 20px 20px;
    
}
img {
    display: block;
    margin: 0 0;
    border-radius: 50%;
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(243, 134, 134);;
    color:blue;
}
#my-id1 {
    color: green;

}
#my-id2 {
    color: purple;

}
.my-class {
    color: maroon;

}
.my-class-font {
    font-size: 30px;

}
h2[id] {
    font-size: 45px;
    font-family: "Great Vibes", sans-serif;
    color:black;
    margin: 0;
    padding: 20px 0;
    color: black;
    
}
h2[id2] {
    font-size: 45px;
    font-family: "Great Vibes", sans-serif;
    color:purple;
}
.custom-nav {
    background-color:rgb(243, 134, 134);
}