html {
    background-color: #efcccc;

}
#my-id1 {
    color: green;

}
#my-id3 {
    color: green;
}
.my-class {
    color: maroon;

}
h2 {
    font-size: 50px;
    font-family: "Great Vibes", sans-serif;
    color:black;
}
.my-class-font {
    font-size: 75px;

}